h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
  }
  hr {
    width: 900px;
  }
  .h2{
    font-size: 30px;
  }
  .small{
    font-size: 11px;
  }
  .div1 {
    width: 600px;
    margin: 0 auto;
    justify-content: center;
   
  }
  .cat {
    /* line-height: 4; */
    font-size: 20px;
    font-weight: bold;
  }
  
  .button {
    width: 200px;
    line-height: normal;
  }
  .left {
    padding: 3px;
    margin-right: 15px;
  }
  .right {
    margin: auto;
    padding: 3px;
  }
  .p1{
    color: greenyellow
  
  }
  .p2{
    color: yellow;
  }
  .p3{
    color: red;
  }
  .bd {
    width: 600px;
    margin: 0 auto;
    justify-content: center;
   background: gainsboro;
  }
  